## Exploratory Data Analysis

### Viewing the first 5 rows of the dataset. Each row represents one ride booking.

The columns include:
- **Date** and **Time** of the booking
- **Booking ID** and **Customer ID** (unique for each ride and customer)
- **Vehicle Type** (like Auto, Bike, Go Sedan, etc.)
- **Pickup and Drop Locations**
- **Avg VTAT** (Average time for driver to reach pickup location (in minutes))
- **Avg CTAT** (Average trip duration from pickup to destination (in minutes))
- **Booking Status** (whether the ride was completed, cancelled, etc.)
- **Booking Value** (total fare)
- **Ratings** (from customer and driver)
- **Payment Method** (UPI, Debit Card, etc.)

Some rows have missing values (like when the ride was incomplete or cancelled), which we'll explore and clean later.

In [1]:
# Loading the dataset

import pandas as pd

df = pd.read_csv('../data/ride_bookings.csv')

# Showing the first 5 rows

df.head()

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,NaN,NaN,UPI
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,NaN,NaN,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI

### How big is the data?

Number of rows and columns in the table.  
Each row is one ride, and each column is a detail about that ride.

In [2]:
df.shape
# we have 150,000 rows and 21 columns

(150000, 21)

### Column names

Checking the names of all the columns in the dataset to know what information is included.

In [3]:
df.columns

Index(['Date', 'Time', 'Booking ID', 'Booking Status', 'Customer ID',
       'Vehicle Type', 'Pickup Location', 'Drop Location', 'Avg VTAT',
       'Avg CTAT', 'Cancelled Rides by Customer',
       'Reason for cancelling by Customer', 'Cancelled Rides by Driver',
       'Driver Cancellation Reason', 'Incomplete Rides',
       'Incomplete Rides Reason', 'Booking Value', 'Ride Distance',
       'Driver Ratings', 'Customer Rating', 'Payment Method'],
      dtype='object')

### Data types and missing values

Type of data is in each column (like text or numbers),  
and checking if anything is missing.

### What the Data Looks Like

- The dataset has **150,000 rows** (ride bookings) and **21 columns**.
- Most columns contain **text** (like dates, locations, IDs) or **numbers** (like ratings and distances).
- Columns like **Avg VTAT**, **Avg CTAT**, **Booking Value**, and **Ratings** are numbers (float).
- Columns like **Booking Status**, **Vehicle Type**, and **Payment Method** are text (object).
- Some columns have missing values:
  - **Avg VTAT** is missing in about 10,500 rides
  - **Avg CTAT**, **Booking Value**, and **Ride Distance** are missing in about 48,000 rides
  - **Ratings** (driver and customer) are missing in 57,000 rides
  - **Cancellation and Incomplete ride columns** have very few values, because they only apply to cancelled/incomplete rides

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 21 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Date                               150000 non-null  object
 1   Time                               150000 non-null  object
 2   Booking ID                         150000 non-null  object
 3   Booking Status                     150000 non-null  object
 4   Customer ID                        150000 non-null  object
 5   Vehicle Type                       150000 non-null  object
 6   Pickup Location                    150000 non-null  object
 7   Drop Location                      150000 non-null  object
 8   Avg VTAT                           139500 non-null  float64
 9   Avg CTAT                           102000 non-null  float64
 10  Cancelled Rides by Customer        10500 non-null   float64
 11  Reason for cancelling by Customer  10500 non-null   object
 12  Cancelled Rides by Driver          27000 non-null   float64
 13  Driver Cancellation Reason         27000 non-null   object
 14  Incomplete Rides                   9000 non-null    float64
 15  Incomplete Rides Reason            9000 non-null    object
 16  Booking Value                      102000 non-null  float64
 17  Ride Distance                      102000 non-null  float64
 18  Driver Ratings                     93000 non-null   float64
 19  Customer Rating                    93000 non-null   float64
 20  Payment Method                     102000 non-null  object
dtypes: float64(9), object(12)
memory usage: 24.0+ MB

### Summary of the numbers and insights from the columns

Quick stats about the number columns, like the average, minimum, and maximum values.

- **Driver arrival time (Avg VTAT)** is around **8.5 minutes** on average, with most drivers arriving between **5.3 and 11.3 minutes**.
- **Trip duration (Avg CTAT)** averages **29 minutes**, but some trips last as short as **10 mins** or as long as **45 mins**.
- **All cancellation and incomplete ride columns only contain 1s**, meaning they are probably just **flags** (1 = yes, 0 = no), not actual counts.
- **Average ride fare (Booking Value)** is about **508**, with some trips costing as low as **50** and others going up to over **4,200** (likely long distance or UberXL).
- **Ride distance** is around **24.6 km** on average, but it ranges from **1 km** to **50 km**.
- **Customer ratings** are slightly higher (average **4.40**) than **driver ratings** (average **4.23**), but both are generally high.

Overall, most Uber rides are completed in under 30 minutes, cost around Ksh 500, and are rated highly by both drivers and customers.

In [5]:
df.describe()

,Avg VTAT,Avg CTAT,Cancelled Rides by Customer,Cancelled Rides by Driver,Incomplete Rides,Booking Value,Ride Distance,Driver Ratings,Customer Rating
count,139500.000000,102000.000000,10500.0,27000.0,9000.0,102000.000000,102000.000000,93000.000000,93000.000000
mean,8.456352,29.149636,1.0,1.0,1.0,508.295912,24.637012,4.230992,4.404584
std,3.773564,8.902577,0.0,0.0,0.0,395.805774,14.002138,0.436871,0.437819
min,2.000000,10.000000,1.0,1.0,1.0,50.000000,1.000000,3.000000,3.000000
25%,5.300000,21.600000,1.0,1.0,1.0,234.000000,12.460000,4.100000,4.200000
50%,8.300000,28.800000,1.0,1.0,1.0,414.000000,23.720000,4.300000,4.500000
75%,11.300000,36.800000,1.0,1.0,1.0,689.000000,36.820000,4.600000,4.800000
max,20.000000,45.000000,1.0,1.0,1.0,4277.000000,50.000000,5.000000,5.000000

### Missing values

Checking how many missing entries each column has.  
Columns with a high number of missing values might need to be cleaned, filled, or dropped depending on how important they are.

### What’s missing in the data?

- Most of the missing values come from cancellation and incomplete ride columns. This makes sense because not all rides were cancelled or incomplete.
  - **141,000 rows** don’t have "Incomplete Ride" info (only 9,000 rides were incomplete)
  - **139,500 rows** don’t have customer cancellation info
  - **123,000 rows** don’t have driver cancellation info

- Ratings and trip details are also missing in many rows:
  - **57,000 rides** are missing either a driver or customer rating
  - **48,000 rides** don’t have trip details like distance, fare, or trip time (likely due to cancellation)

**Summary**

- Not all rides are cancelled or incomplete, so those columns are blank most of the time.
- Trip details like fare, distance, and duration are only available for completed rides.
- Some people didn’t leave a rating, so those are missing too.

- It's good that the main ride information (Date, Time, Booking ID, Status, Vehicle Type, Locations) is fully filled in, no missing values at all.

**Next step:** clean or safely ignore the columns with missing data, depending on what column we'll analyze.

In [6]:
df.isnull().sum().sort_values(ascending=False)

Incomplete Rides Reason              141000
Incomplete Rides                     141000
Cancelled Rides by Customer          139500
Reason for cancelling by Customer    139500
Driver Cancellation Reason           123000
Cancelled Rides by Driver            123000
Customer Rating                       57000
Driver Ratings                        57000
Ride Distance                         48000
Booking Value                         48000
Payment Method                        48000
Avg CTAT                              48000
Avg VTAT                              10500
Time                                      0
Drop Location                             0
Pickup Location                           0
Vehicle Type                              0
Customer ID                               0
Booking Status                            0
Booking ID                                0
Date                                      0
dtype: int64

## Data Cleaning

### Checking for duplicate rows

This helps make sure our data is clean and doesn’t have repeated bookings.

From the output we don't have any repeated bookings

In [7]:
df.duplicated().sum()

0

### Date and Time columns 

Converting Date and Time to proper datetime format so we can extract useful features like hour, day, and month, and do any kind of timebased analysis.

In [8]:
# Combining 'Date' and 'Time' into one datetime column
df['Booking Datetime'] = pd.to_datetime(df['Date'] + ' ' + df['Time'])

# Dropping the original Date and Time columns since we no longer need them
df.drop(['Date', 'Time'], axis=1, inplace=True)

In [9]:
# confirming if the changes took place

df.head()

,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,Cancelled Rides by Customer,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method,Booking Datetime
0,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-23 12:29:38
1,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,NaN,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,NaN,NaN,UPI,2024-11-29 18:01:39
2,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,NaN,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card,2024-08-23 08:56:10
3,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,NaN,NaN,NaN,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI,2024-10-21 17:17:25
4,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,NaN,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI,2024-09-16 22:08:00

### Dropping columns with too many missing values

Columns like Reason for cancelling by Customer/ Driver Cancellation Reason/ Incomplete Rides Reason, had very few filled-in values and were only relevant for specific cases. 

We’ll still track cancellations using flags like 'Booking Status'.

In [10]:
df.drop([
    'Reason for cancelling by Customer',
    'Driver Cancellation Reason',
    'Incomplete Rides Reason'
], axis=1, inplace=True)

In [11]:
df.drop([
    'Cancelled Rides by Customer',
    'Cancelled Rides by Driver',
    'Incomplete Rides'
], axis=1, inplace=True)

### Removing rows with missing trip info

We removed rows that don’t have trip cost, distance, or time,
because they were most likely cancelled or incomplete.
We only want to analyze real, finished rides, not the ones that never happened.

In [12]:
df = df.dropna(subset=['Booking Value', 'Ride Distance', 'Avg CTAT'])

In [13]:
# Checking if all the changes took place after cleaning the data

# Final dataset has:
# 102,000 rows
# 14 columns
# All trip records are complete, clean, and ready for our next step.

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 102000 entries, 1 to 149999
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Booking ID        102000 non-null  object
 1   Booking Status    102000 non-null  object
 2   Customer ID       102000 non-null  object
 3   Vehicle Type      102000 non-null  object
 4   Pickup Location   102000 non-null  object
 5   Drop Location     102000 non-null  object
 6   Avg VTAT          102000 non-null  float64
 7   Avg CTAT          102000 non-null  float64
 8   Booking Value     102000 non-null  float64
 9   Ride Distance     102000 non-null  float64
 10  Driver Ratings    93000 non-null   float64
 11  Customer Rating   93000 non-null   float64
 12  Payment Method    102000 non-null  object
 13  Booking Datetime  102000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(6), object(7)
memory usage: 11.7+ MB